/*card element*/

.jumbotron {
    background-color: #BA7BA1; 
    background-image: url('../images/mental-health.jpg'); /* Simple background image */
    background-size: cover;
    color: #AB3428; 
}

.lead {
    color: #006494;
}

.card {
    margin-bottom: 20px;
    background-color: #2ec4b6;
    align-items: center;
}

.text-center h2 {
    margin-bottom: 20px;
}


