/*card element*/

.jumbotron {
    background-color: #5F5B6B; 
    background-image: url('../images/mental-health.jpg'); 
    background-size: cover;
    color: #FCF5E5; 
}

.lead {
    color: #FCF5E5;
    text-size-adjust: 50%;
    
}

.card {
    margin-bottom: 20px;
    background-color: #E4C1F9;
    align-items: center;

}

.text-center h2 {
    margin-bottom: 20px;
}


.card-title {
    text-transform: uppercase;
    text-decoration: underline;
}

body {
    background-color: #FCF5E5;
}

.list-group-item {
    background-color: #E4C1F9;
}



